body {
    width: 100%;
    background: url(../images/blanco.png), url(../images/test.svg), #9a3ca7;
    background-size:auto,100vw,100vw,auto;
    background-repeat: no-repeat;
    background-position: center center, top right, center;
}
.menu {
    background-color: blue;
    grid-template-columns: 50% ,50%;
    list-style-type: none;
    display: flex;

}

.menu li{
    background-color: aqua;
    display: inline;
    grid: 30%;
    
}