body {
    max-width: 100%;
    max-height: 100%;
    background: url(../images/carina.jpg);
    background-size:100%,100%,100%,100%;
    z-index: 0;
}

.navbar-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.saludo {
    display: flex;

    grid-column-start: 2;
    grid-column-end: 4;

    font-size: 1em;
    width: 100%;
    justify-content: space-between;
}
.navbar-container ul{ 
    
    list-style-type: none;
    position: fixed;
   
    display: flex;
    list-style: none;
    text-align: center;

    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    padding: 1em;
    background-color: aqua;
    display: inline;
    opacity: 70%;
    z-index: 1;
}

li:hover {
    background-color: rgb(150, 35, 134);
    transition: background-color 3s ease;
}