
body {
    max-width: 100%;
    max-height: 100%;
    background: url(../images/space.gif) ;
    background-size:repeat;
    z-index: 0;
    grid-auto-columns: auto ,auto,auto;
    
}

/* 
    COMPONENTE NAVBAR
*/
.navbar-container {
    display: grid; 
}



.navbar-container ul{ 
    
    list-style-type: none;
   
    display: flex;
    list-style: none;
    text-align: center;

    font-size: 1em;
    margin: auto;
    padding: 0;
    width: 100%;

    justify-content: center;
   
}


button {

    padding: 1em;
    background-color: aqua;
    display: inline;
    background: rgba(0, 255, 255, .7) ;
    z-index: 1;
    border: none;
    
   
}

button:hover {
    background-color:transparent;
    transition: background-color .3s ease;
}

/* 
    COMPONENTE CONTACTO
*/

.container-contacto {
    
    display: grid;

    padding: 3em;
    justify-content: space-around;   


}

/*      dentro del container        */
.fondo {
    
    display: grid;    
    
    background: url(../images/carina.jpg);
    background-size: cover;
    
    justify-content: center;
    margin-left: -20em;
    margin-right: -20em;

    color:  khaki;
    
    
}
.fondo:hover{
    background-color:transparent;
    transition: background-color 3s ease;
}


.web{
    color: aqua;
}

